* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    background-color:#a3b7c0;
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 24px;
}

.calculator span {
    display: grid;
    width: 100px;
    height: 80px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.calculator span:active {
    background-color: #a3b7c0;
    color: #222;
}

.calculator span.clear {
    grid-column: span 2;
    width: 200px;
    background-color: salmon;
}

.calculator span.plus {
    grid-row: span 2;
    height: 160px;
}

.calculator span.equal {
    background-color: #878b8d;
}

.calculator span.equal:active {
    background-color: #a3b7c0;
    color: #222;
}

.num {
    cursor : pointer;
}